<span *ngIf="!loggedIn">
  <div><input type="text" name="username" placeholder="username" [(ngModel)]="username" size="16" (keyup.enter)="saveCredentials()"/></div>
  <div><input type="password" name="password" placeholder="password" [(ngModel)]="password" size="16" (keyup.enter)="saveCredentials()"/></div>
  <div><input type="submit" value="Log in" (click)="saveCredentials()" /></div>
  <div><input type="submit" value="Create" (click)="createAccount()" /></div>
</span>
<span *ngIf="loggedIn" (click)="logout()" class="clickable">logout</span>
